Last login: Sat Nov 23 11:11:14 on ttys000
You have new mail.
ximenacrack@MacBook-Air-de-Ximena ~ % cd usuarios-git
cd: no such file or directory: usuarios-git
ximenacrack@MacBook-Air-de-Ximena ~ % cd web_intro                          
cd: no such file or directory: web_intro
ximenacrack@MacBook-Air-de-Ximena ~ % cd Desktop
ximenacrack@MacBook-Air-de-Ximena Desktop % cd web_intro
ximenacrack@MacBook-Air-de-Ximena web_intro % ls -l       
total 8
drwxr-xr-x@ 4 ximenacrack  staff  128 Nov 11 20:49 first_web
-rw-r--r--@ 1 ximenacrack  staff  226 Nov  8 11:26 index.html
drwxr-xr-x@ 6 ximenacrack  staff  192 Nov 22 12:37 usuarios-git
ximenacrack@MacBook-Air-de-Ximena web_intro % cd usuarios-git
ximenacrack@MacBook-Air-de-Ximena usuarios-git % ls -l
total 16
-rw-r--r--   1 ximenacrack  staff  1411 Nov  8 23:39 README.md
drwxr-xr-x@ 17 ximenacrack  staff   544 Nov  8 23:36 usuarios
-rw-r--r--   1 ximenacrack  staff   285 Nov  8 23:42 ximena.md
ximenacrack@MacBook-Air-de-Ximena usuarios-git % cd ..
ximenacrack@MacBook-Air-de-Ximena web_intro % ls -l
total 16
drwxr-xr-x@ 4 ximenacrack  staff  128 Nov 11 20:49 first_web
-rw-r--r--@ 1 ximenacrack  staff  292 Nov 23 11:47 index.html
-rw-r--r--  1 ximenacrack  staff  562 Nov 23 11:47 styles.css
drwxr-xr-x@ 6 ximenacrack  staff  192 Nov 22 12:37 usuarios-git
ximenacrack@MacBook-Air-de-Ximena web_intro % ls -l
total 16
drwxr-xr-x@ 4 ximenacrack  staff  128 Nov 11 20:49 first_web
-rw-r--r--@ 1 ximenacrack  staff  292 Nov 23 11:47 index.html
-rw-r--r--  1 ximenacrack  staff  562 Nov 23 11:47 styles.css
drwxr-xr-x@ 6 ximenacrack  staff  192 Nov 22 12:37 usuarios-git
ximenacrack@MacBook-Air-de-Ximena web_intro % clear

ximenacrack@MacBook-Air-de-Ximena web_intro % git init       

Reinitialized existing Git repository in /Users/ximenacrack/Desktop/web_intro/.git/
ximenacrack@MacBook-Air-de-Ximena web_intro % git add .

ximenacrack@MacBook-Air-de-Ximena web_intro % git remote add origin https://github.com/x0clous/first_web
error: remote origin already exists.
ximenacrack@MacBook-Air-de-Ximena web_intro % git push -u origin main

branch 'main' set up to track 'origin/main'.
Everything up-to-date
ximenacrack@MacBook-Air-de-Ximena web_intro % ls -l
total 16
drwxr-xr-x@ 4 ximenacrack  staff  128 Nov 11 20:49 first_web
-rw-r--r--@ 1 ximenacrack  staff  292 Nov 23 11:47 index.html
-rw-r--r--  1 ximenacrack  staff  562 Nov 23 11:47 styles.css
drwxr-xr-x@ 6 ximenacrack  staff  192 Nov 22 12:37 usuarios-git
ximenacrack@MacBook-Air-de-Ximena web_intro % git add styles.css
ximenacrack@MacBook-Air-de-Ximena web_intro % git commit -m "El estilo de mi primer pagina web"
[main 3675dda] El estilo de mi primer pagina web
 Committer: Ximena T <ximenacrack@MacBook-Air-de-Ximena.local>
Your name and email address were configured automatically based
on your username and hostname. Please check that they are accurate.
You can suppress this message by setting them explicitly:

    git config --global user.name "Your Name"
    git config --global user.email you@example.com

After doing this, you may fix the identity used for this commit with:

    git commit --amend --reset-author

 4 files changed, 42 insertions(+), 2 deletions(-)
 create mode 100644 .DS_Store
 create mode 100644 styles.css
ximenacrack@MacBook-Air-de-Ximena web_intro % git push
Enumerating objects: 7, done.
Counting objects: 100% (7/7), done.
Delta compression using up to 4 threads
Compressing objects: 100% (5/5), done.
Writing objects: 100% (5/5), 976 bytes | 488.00 KiB/s, done.
Total 5 (delta 1), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (1/1), completed with 1 local object.
To https://github.com/x0clous/first_web.git
   08b661e..3675dda  main -> main
ximenacrack@MacBook-Air-de-Ximena web_intro % git rm --cached .DS_Store
rm '.DS_Store'
ximenacrack@MacBook-Air-de-Ximena web_intro % touch -gitignore
touch: illegal option -- g
usage: touch [-A [-][[hh]mm]SS] [-achm] [-r file] [-t [[CC]YY]MMDDhhmm[.SS]]
       [-d YYYY-MM-DDThh:mm:SS[.frac][tz]] file ...
ximenacrack@MacBook-Air-de-Ximena web_intro % touch .gitignore
ximenacrack@MacBook-Air-de-Ximena web_intro % ls -l
total 16
drwxr-xr-x@ 4 ximenacrack  staff  128 Nov 11 20:49 first_web
-rw-r--r--@ 1 ximenacrack  staff  292 Nov 23 11:47 index.html
-rw-r--r--  1 ximenacrack  staff  562 Nov 23 11:47 styles.css
drwxr-xr-x@ 6 ximenacrack  staff  192 Nov 22 12:37 usuarios-git
ximenacrack@MacBook-Air-de-Ximena web_intro % nano .gitignore

  UW PICO 5.09                    File: .gitignore                    Modified  

.DS_Store



















^G Get Help  ^O WriteOut  ^R Read File ^Y Prev Pg   ^K Cut Text  ^C Cur Pos   
^X Exit      ^J Justify   ^W Where is  ^V Next Pg   ^U UnCut Text^T To Spell  
